
*{
padding: 0%;
margin: 0%;
box-sizing: border-box;
background-color: rgb(231, 215, 250);
}
.app{
  font-family: 'Hachi Maru Pop', cursive;
 
}
p span{
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  
}